form, #matrix {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    table-layout: fixed;
    width: 20vw;
    height: 20vw;
}

input {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

input[inputmode=numeric] {
    border: solid black;
    text-align: center;
}

input:invalid {
    border: solid red;
}

input[type=submit] {
    margin: 30px 4vw 10px;
}

input[type=reset] {
    margin: 0px 4vw;
}

.vl {
    border-left: thick solid black;
    height: 18vw;
    position: relative;
    top: 1vw;
    left: 14.5vw;
}
