#matrix {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

input {
    border: solid black;
    text-align: center;
}

th {
    border-left: thick solid;
}
