#matrix {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 20vw;
    height: 20vw;
}

input {
    border: solid black;
    text-align: center;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

th {
    border-left: thick solid;
}
